<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158998814947-9d0sor1lt0pludaj7ofm3umbnem0mon7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158998814947-9d0sor1lt0pludaj7ofm3umbnem0mon7</string>
	<key>API_KEY</key>
	<string>AIzaSyD1QOqC62NZSxcbNPZ-WBnarRgVSe6xL2w</string>
	<key>GCM_SENDER_ID</key>
	<string>158998814947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebasetests.FirebaseTests</string>
	<key>PROJECT_ID</key>
	<string>fbtests-57943</string>
	<key>STORAGE_BUCKET</key>
	<string>fbtests-57943.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158998814947:ios:6f74e86a437b07f2</string>
	<key>DATABASE_URL</key>
	<string>https://fbtests-57943.firebaseio.com</string>
</dict>
</plist>